@using MovieAPI.MovieDbApiClient

@model MovieDbApiMovie

@{
    ViewData["Title"] = "GetMovieDetails";
}



<div class="media">
    <img src="https://image.tmdb.org/t/p/w500/@Model.Poster_Path" class="mr-4"/>
    <div class="media-body">
        <h1>@Model.Title</h1>
        <p>@Model.Overview</p>
        <p>Date Released: @Model.Release_Date</p>
        <p><a href="https://imdb.com/title/@Model.Imdb_Id">imdb.com</a></p>
        <p><a href="/Home/ToggleMovieFavorite?ImdbId=@Model.Id">Add To Favorites</a></p>
    </div>
</div>