@using MovieAPI.MovieDbApiClient

@model List<MovieDbApiMovie>

@{
    ViewData["Title"] = "SearchMovie";
}

    <h1>Search Movie Results for "@ViewBag.SearchString"</h1>

@foreach (var movie in @Model)
{
    <div class="media" >
        <img src="https://image.tmdb.org/t/p/h100/@movie.Poster_Path" class="align-self-center mr-2" />
        <div class="media-body">
            <h5 class="mt-lg-1">@movie.Title [@movie.Release_Date]</h5>
      
            [<a href="/Home/GetMovieDetails?Id=@movie.Id">Details</a>]
            [<a href="/Home/ToggleMovieFavorite?ImdbId=@movie.Id">Add To Favorites</a>]
        </div>
    </div>

}

